
* {
    transition-property: color, background-color, border-color, background-image, padding, border-width;
    transition-duration: 1s;

    font: Sans 10px;
}

GtkWindow {
    background-color: #131313;
}

.button {
    color: black;
    background-color: #bbb;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-color: #333;

    padding: 12px 4px;
}

.button:first-child {
    border-radius: 5px 0 0 5px;
}
.button:hover{
    background-color: #4870bc;
}

.button:last-child {
    border-radius: 0 5px 5px 0;
    border-width: 2px;
}

.button *:hover {
    color: white;
}

.button:hover:active,
.button:active {
    background-color: #993401;
}
